html {
  margin: 1rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

body {
  background-color: 253 253 253;
  color: black;
  max-width: 40rem;
  font-family: 'Lato';
  font-size: 22px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: green;
}

.current {
  color: green;
}

.hidden-header {
  display: none;
}

.index-header {
  margin: 5rem 0;
  padding: 5rem 0;
  border-bottom: 1px solid black;
}

.index-header h1 {
  font-size: 5rem;
}

.index-header p {
  font-size: 1em;
}

.post-header {
  font-size: 30px;
}


.post-title {
 width: 100%;
 margin: 0;
 flex-basis: 100%;
 flex: 1 1 0;
}
.post-title h1{
  font-size: 3rem;
}

#mainPostList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

