html, body {
  margin: auto;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: 255 255 255;
  color: black;
  max-width: 38rem;
  font-family: 'Lato';
  font-size: 22px;
}

header h1 {
  font-size: 48px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: green;
}

.current {
  color: green;
}

.index-header {
  display: none;
}

.post-header {
  font-size: 20px;
}

#mainPostList {
  list-style-type: none;
}
